<p id="notice"><%= notice %></p>

<% if @tag.blank? %>
<h1><%= t(:games) %></h1>
<% else %>
<h1><%= t(:games_tagged_with, {tag: @tag}) %></h1>
<% end %>

<% if @games.count > 0 %>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.name %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<p><%= t(:no_games) %></p>
<% end %>

<br>

<%= link_to 'New Game', new_game_path %>
