<p id="notice"><%= notice %></p>

<h1>
  <%= @game.name %>
</h1>

<p>
  <strong>User:</strong>
  <%= @game.user.fullname %>
</p>

<p>
  <strong><%= t(:platforms) %></strong>
  <% @game.platforms.each do |tag| %>
    <%= link_to tag.name, games_path(tag: tag.name) %> 
  <% end %>
</p>

<% if @game.save_files.count > 0 %>
<h2><%= t(:save_files) %></h2>
<ul>
  <% @game.save_files.each do |s| %>
  <li>
    <% if not s.full_name.blank? %>
    <%= link_to s.full_name, s %>
    <% else %>
      <%= link_to t(:time_ago, time_ago: time_ago_in_words(s.mtime)), s, {title: s.mtime} %> - 
      <%= link_to t(:download), s.sram %>
    <% end %>
  </li>
  <% end %>
</ul>
<% end %>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
