<p id="notice"><%= notice %></p>

<h1>
  <%= @game.name %>
</h1>

<p>
  <strong>User:</strong>
  <%= @game.user.fullname %>
</p>

<% if @game.save_files.count > 0 %>
<h2><%= t(:save_files) %></h2>
<ul>
  <% @game.save_files.each do |s| %>
  <li>
    <%= link_to s.name, s %>
  </li>
  <% end %>
</ul>
<% end %>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
