<p id="notice"><%= notice %></p>

<h1>
  <%= @save_file.name %>
</h1>

<p>
  <strong>Game:</strong>
  <%= @save_file.game.name %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @save_file.notes %>
</p>

<p>
  <strong><%= t(:checksum) %>:</strong>
  <%= @save_file.sram.checksum  if not @save_file.sram.attachment.nil? %>
</p>

<p>
  <strong><%= t(:sram_file) %>:</strong>
  <%= link_to @save_file.sram.filename, url_for(@save_file.sram) if not @save_file.sram.attachment.nil? %>
</p>

<%= link_to 'Edit', edit_save_file_path(@save_file) %> |
<%= link_to 'Back', save_files_path %>
